*{
  margin: 0;
  padding: 0;
 font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #39b0de;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
}

.rightMenu{
  position: absolute;
  height: 94%;
  width: 50%;
  background: red;
  right: -180px;
  z-index: 90;
}
nav button{
  background: none;
  color: white;
  font-size: 20px;
  border: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 10;
}

h2{
  text-align: center;
}

.chat-icon{
  font-size:100px;
  margin-top: 20px;
  color: #39b0de;
  text-align: center;
}

.buttons{
  width: 85vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding:4px;
  justify-content: space-between;
}

.buttons button{
  padding: 10px 12px;
  background: #39b0de;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 13px 0;
  font-weight: bold;
  z-index: 10;
  width: 100%;
}



.btn-common{
  padding: 10px 12px;
  background: #39b0de;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 13px 0;
  font-weight: bold;
  z-index: 10;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input{
  padding: 8px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #999;
}

.mt-more{
  margin-top: 30px;
}

.ovy-hide{
  overflow: hidden;
}

.msg-cont{
   display: flex;
   margin-top:20px;
   margin-left:7px;
   padding:10px;
   width:85%;
   z-index: 100000;
}

.msg-cont h2{
      padding:7px 7px;
				text-align:center;
				background: #39b0de;
				border-radius:100px;
				width:30px;
				height: 30px;
				color: white;
}

.msg-cont p{
				width:50%;
				padding:10px;
				background: #fbf4f4;
      margin:18px 6px;
				border-radius: 5px;
}

.your{
				margin-left:30vw;
}

.msgs{
				width: 100vw;
				height: 70vh;
				overflow-y:auto;
				border-bottom:1px solid #999;
				overflow-x: hidden;
}

.sending{
      height:20vh;
      width: 90vw;
				display:flex;
				justify-content:cender;
				align-items:center;
				padding:0 20px 0 15px;
}

.sending input{
				padding:7px 10px;
				width: 75%;
				border-radius: 15px;
				border: 1px solid #999;
}

.send{
				margin-left:24px;
				font-size:25px;
				border:none;
				background: none;
				color: #39b0de;
}

.para{
				padding:20px;
				text-align:center;
}

.mt-35{
				margin-top: 35px;
}
